h4{
	background-image:-webkit-gradient(linear,0% 0,0% 100%,from(#dedfff),to(#ced3f7));
	padding:.3em
}

body{
	margin: 0 0 0 0;
	height: 100%;
}

li{
	word-wrap:break-word; 
	font-size:13.5px; 
	font-weight:700; 
	padding-left:25px; 
	margin-left:15px; 
	margin-bottom:25px; 
	list-style:none; 
	background-repeat:no-repeat; 
	background-size:1em;
}
